{% extends 'base.html' %}

{% block meta %}
<title>Create a New Task</title>
{% endblock meta %}

{% block content %}

<style>
.create_task{
    margin-top: 5vw;
    width: 25%;
    position: absolute;
    transform: translateX(150%);
}
h1 {
    text-align: center;
}
td{
    padding: 0.75vw;
}
.form{
    position: center;
}
    nav {
        box-shadow: 0 0 2vw #757575;
    }
    nav a{
        margin-left: 2vw;
    }
    nav button{
        margin-right: 2vw;
    }
</style>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand col-sm" href="/todolist">{{user.get_username}}</a>
  <button><a style="color: #1b1b1b" href="{% url 'todolist:logout' %}">Logout</a></button>
</nav>

<div class="create_task">

  <h1>Create a New Task</h1>

  <form class="form" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Create" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul class="msg">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

</div>

{% endblock content %}