{% extends 'base.html' %}

{% block meta %}
<title>todolist</title>
{% endblock meta %}

 {% block content %}

<style>
    nav {
        box-shadow: 0 0 2vw #757575;
    }
    nav a{
        margin-left: 2vw;
    }
    nav button{
        margin-right: 2vw;
    }
    h4,h3{
        margin-top: 3vw;
        text-align: center;
    }
    .card{
        margin-bottom: 0.5vw;
        width: 50%;
        text-align: center;
        transform: translateX(50%);
    }
    h5{
        color: #1b1b1b;
    }
</style>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand col-sm" href="/todolist">{{user.get_username}}</a>
    <button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
    <button><a style="color: #1b1b1b" href="{% url 'todolist:logout' %}">Logout</a></button>
</nav>

  <h4>Hello, {{user.get_username}}</h4>

  <h3>TO DO LIST</h3>

  <table id="table">
    {% for task in list_task %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.date }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.description }}</h6>
                </div>
            </div>
    {% endfor %}
  </table>

    <br>

  {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
        </ul>
  {% endif %}

 {% endblock content %}